#background{
	background: url(y.jpg);
}
#tablebackground{
	background: rgba(255, 126, 0, 0.40);
}
#shapa{	
    border: 1px solid black;
	background:#00FFFF(240, 251, 255, 0.4);
	text-align:left;
    font: normal small-caps 52px/54px fantasy;
	height:32mm;
	line-height:100px;
	max-height:200px;
}
#main{
    border: 1px solid black;
    background:#00FFFF(225, 126, 0, 0.40);
    text-align:left;
    font: bold italic 110% serif;
}

#links{	
    border: 1px solid black;
	background:#00FFFF(255, 126, 0, 0.40);
}

#forma{	
    border: 1px solid black;
	background:#00FFFF(255, 126, 0, 0.40);
}
